.card-page{
background:white;
padding:40px;
border-radius:14px;
box-shadow:0 4px 15px rgba(0,0,0,0.05);
max-width:900px;
margin:auto;
text-align:center;
}

.page-img{
width:100%;
border-radius:12px;
margin:20px 0;
}

.main-btn{
background:#4f46e5;
color:white;
padding:12px 25px;
border:none;
border-radius:8px;
cursor:pointer;
}

.resource-card{
background:#f3f4f6;
padding:18px;
margin:12px;
border-radius:10px;
}